body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #fff;
}

.header {
    width: 100%;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 20px;
    font-weight: bold;
}

.nav a {
    margin: 0 15px;
    text-decoration: none;
    color: black;
    font-size: 13px;
}

.learn-more {
    background: #ff914d;
    color: white;
    padding: 10px 22px;
    border: none;
    border-radius: 20px;
    font-size: 12px;
    margin-right: 70px;
}

.divider {
    margin: 0 40px;
    border: 0.5px solid #eee;
}
.food-top {
    padding: 40px;
}

.food-top h1 {
    font-size: 28px;
    margin-bottom: 30px;
}

.food-content {
    display: flex;
    gap: 40px;
}

.food-content .left {
    flex: 2;
    font-size: 14px;
    line-height: 1.7;
}

.food-content .right {
    flex: 1;
    text-align: center;
}

.food-image {
    width: 85%;
    border-radius: 12px;
}

.more-info-btn {
    margin-top: 20px;
    background: #ff914d;
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 18px;
    cursor: pointer;
}

.ranking {
    padding: 40px;
}

.ranking h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.rank-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.rank-item {
    display: flex;
    justify-content: space-between;
    background: #f2f2f2;
    padding: 15px 20px;
    border-radius: 12px;
}

.rank-num {
    font-size: 18px;
    font-weight: bold;
}

.rank-text {
    font-size: 15px;
}

.footer {
    text-align: right;
    padding: 30px 40px;
    font-size: 10px;
    color: #aaa;
}
